/* RangeSlider.css */

/* Customize the color of the track */
.custom-slider .rc-slider-track {
    background-color: #186F65;
}

/* Customize the color of the handle */
.custom-slider .rc-slider-handle {
    background-color: #186F65;
    border-color: #186F65;
}

.custom-slider .rc-slider-handle:focus,
.custom-slider .rc-slider-handle:active {
    box-shadow: 0 0 5px #EBE9FE; /* Handle focus color */
}

.custom-slider .rc-slider-handle:hover {
    border-color: #EBE9FE; /* Handle hover border color */
}

.custom-slider .rc-slider-mark-text,
.custom-slider .rc-slider-mark-text-active {
    font-weight: bold;
    color: black;
}

.custom-slider .rc-slider-mark-dot {
    background-color: #186F65; /* Mark dot color */
    border-color: #186F65; /* Mark dot border color */
}
